@media only screen and (max-width: 1400px) {

}

@media only screen and (max-width: 1200px) {
 
}

@media only screen and (max-width: 992px) {
    


      

}


@media only screen and (max-width: 768px) {

   


  
}



@media only screen and (max-width: 600px) {
  .logo img{
    width: 110px;
  
  }
  .cta_btn2{
    font-size: 14px;
  }
  nav img {
    width: 290px;
}
.linkbox {
  width: 290px;
}
.outer {
  margin-top: -30px;
}
nav i{
  font-size: 12px;

}
.nav-panel{
  top: 40px;

}

 
}


@media only screen and (max-width:490px) {
 

    

}
